main {
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  width: 88%;
  border-radius: 50px 0% 0% 50px;
  background-color: white;
}

.content-container {
  width: 76%;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  padding: 6% 0 4% 0;
}

.hashtag-options {
  /* background-color: rgb(193, 193, 193); */
  display: flex;
  margin-top: 4px;
}

.hashtag-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  padding: 2px 8px;
  user-select: none;
  border-radius: 100px;
}

.hashtag-option:hover {
  background-color: rgb(193, 193, 193);
}

.hashtag-option input {
  margin-right: 4px;
}

#sort-skills {
  font-weight: 500;
  margin: 10px 0 50px;
  padding: 10px;
  border: 1px solid #583C5A;
  cursor: pointer;
}

.available-internships {
  font-size: 1.75rem;
  font-weight: 500;
  padding-bottom: 30px;
}

.list-of-members {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: #583C5A solid 1px;
}

.column {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.column:first-child {
  background-color: #583C5A;
}

.column:first-child > .row {
  color: white !important;
}

.column:nth-child(2n) {
  background-color: #583c5a30;
}

.column:hover:not(:nth-child(1)) {
  background-color: rgba(88, 60, 90, 0.382);
}

.row {
  width: 100%;
}



/* .firma-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin-bottom: 80px;
}

.firma {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 100px);
  outline: 1px solid;
}

h2.title-for-job-description {
  font-size: 1.5rem;
  width: 96%;
  padding: 20px 0px 20px;
}

.job-description {
  width: 96%;
  padding-bottom: 30px;
}

.bottom-section {
  width: 96%;
}

.hashtags {
  width: 100%;
  padding-bottom: 8px;
}

.hashtag {
  margin-right: 2px;
  padding: 0 8px;
  border: 1px solid #583C5A;
  border-radius: 99px;
  background-color: #583C5A42;
}

.company-and-people-applied {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.send-application {
  display: block;
  opacity: 0;
  width: 50px;
  margin-right: 30px;
  cursor: pointer;
}

.send-application {
  width: 50px;
  height: 50px;
  color: inherit;
  border: none;
  background: url(https://static.vecteezy.com/system/resources/thumbnails/007/160/526/small/illustration-of-send-icon-free-vector.jpg) no-repeat;
  background-size: 50px 50px;
}

.firma-container:hover .send-application {
  opacity: 1;
}

.send-application:focus {
  opacity: 1;
  outline: 5px #583C5A solid;
} */


