/* * {
  border: 1px solid;
} */

main {
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  width: 88%;
  border-radius: 50px 0% 0% 50px;
  background-color: white;
}

main * {
  font-size: 1.1rem;
}

.content-container {
  width: 76%;
  height: 100vh;
}

.top-about-me-section {
  display: flex;
  justify-content: start;
  margin-top: 2%;
  margin-bottom: 6%;
}

.image-container {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vh;
  margin-right: 5%;
}

.image-container > img {
  height: 100%;
  object-fit: cover; 
}

.short-info-about-user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

.short-info-about-user > a:not(:last-child) {
  width: fit-content;
}

.short-info-about-user > a:last-child {
  margin-top: 3%;
}

.short-info-about-user > a:hover {
  text-decoration: underline;
}

.short-about-me {
  margin-bottom: 2%;
}

h1 {
  font-size: 5rem;
  /* padding: 6% 0 4% 0; */
  line-height: 8rem;
}

h1::first-letter {
  text-transform: capitalize;
}

.edit-button {
  text-align: center;
  padding: 10px 0px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: hsla(296, 20%, 29%, 0.3);
  border: 2px solid hsl(296, 20%, 29%);
  border-radius: 5px;
}

.edit-button:hover {
  background-color: hsla(296, 20%, 29%, 0.4);
}

.about-me-section {
  
}

.about-me-section h2 {
  font-size: 2.75rem;
  margin-bottom: 1%;
  font-weight: 500;
}

.about-me-container {
  
}